@charset "UTF-8";

/* common
================================================== */

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: YuGothic,'Yu Gothic',sans-serif;
  font-size: 1.6rem;
  color: #333;
  background: #EFEFEF;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: none;
  color: inherit;
}
a:active {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.inner {
  width: 100%;
  max-width: 1086px;
  height: 100%;
  margin: 0 auto;
}

main {
  padding-top: calc(100vh + 60px);
}

/* header
================================================== */

header {
  height: 100px;
  width: 100%;
  color: #fff;
  background: #3F51B5;
  box-shadow: 0 3px 3px rgba(0, 0, 0, .16);
  z-index: 100;
  position: fixed;
}

header .inner {
  max-width: 100%;
  padding: 0 10.2489vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header h1 {
  margin-right: 4vw;
}

header h1 img {
  height: 39px;
  width: 200px;
}

nav ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
nav ul li {
  margin-left: 2.1962vw;
  line-height: 26px;
}
nav ul li:hover {
  border-bottom: 3px solid #E81919;
  margin-bottom: -3px;
}


/*  main visual
================================================== */
.main-visual {
  position: absolute;
  top: 0;
  left: 0;
}

.main-visual img {
  width: 100%;
  height: 100vh;
  z-index: -1;
  object-fit: cover;
}
.main-visual .inner {
  width: 100%;
  max-width: 100%;
  position: absolute;
  top: calc(50% - 100px);
  left: 0;
}
.main-visual h2 {
  font-size: 6.8rem;
  line-height: 87px;
  top: 50%;
  left: 50%;
  width: 100%;
  text-align: center;
}
.main-visual span {
  display: block;
  font-size: 3.8rem;
  line-height: 49px;
  margin-top: 12px;
}

.main-visual a {
  display: block;
  width: 390px;
  height: 83px;
  background: #3F51B5;
  border-radius: 12px;
  color: #fff;
  font-size: 3.8rem;
  line-height: 49px;
  text-align: center;
  padding: 17px 81px;
  margin: 11.6976vh auto 0;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
}

/*  card section
================================================== */
.heading {
  font-size: 6.0rem;
  width: 138px;
  height: 77px;
  margin: 0 auto 120px;
  position: relative;
}
.heading:after {
  content: '';
  position: absolute;
  width: 76px;
  top: calc(100% + 50px);
  left: calc(50% - 76px / 2);
  border-top: 5px solid #3F51B5;
}

.card-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-item {
  background: #fff;
  color: #6F7579;
  width: 31.491712%;
  min-height: 355px;
  margin-bottom: 20px;
  padding: 16px;
  border-radius: 4px;
}

.card-image {
  width: 100%;
  height: 161px;
  background: #DDD;
  margin-bottom: 26px;
}

.card-item h3 {
  font-size: 2.0rem;
  height: 26px;
  margin-bottom: 20px;
}

/*  media queries
================================================== */

/* 上記まではすべてのデバイス／画面サイズに共通
かつ　920より上：PC（デスクトップ）
---------------------------------------- */

/* 920以下：PC（デスクトップ/タブレット横）
---------------------------------------- */
@media screen and (max-width: 920px) {

  .main-visual h2 {
    font-size: 5.5rem;
  }
  .main-visual span {
    font-size: 3.0rem;
  }

  .main-visual a {
    width: 312px;
    height: 66px;
    line-height: 66px;
    font-size: 3.0rem;
    padding: 0 1.5em;
  }

  .card-wrap {
    margin: 0 20px;
  }

}

/*  768以下：iPad縦 / iPhone 7/6 Plus横
---------------------------------------- */
@media screen and (max-width: 768px) {

  .main-visual h2 {
    font-size: 4.4rem;
  }
  .main-visual span {
    font-size: 2.4rem;
  }

  .card-item {
    width: 48%;
  }

}

/* 480未満：iPhone 7/6 Plus縦
---------------------------------------- */
@media screen and (max-width: 480px) {

  nav {
    display: none;
  }

  .main-visual h2 {
    font-size: 3.5rem;
    line-height: 1.8;
  }
  .main-visual span {
    font-size: 1.9rem;
  }

  .main-visual a {
    width: 300px;
    margin: 8vh auto 0;
  }

  .card-item {
    width: 100%;
  }

}